/*Responsividade*/

@media screen and (min-width: 0) {
    .cabecalho {
        justify-content: center;
        padding: 0 1rem;
    }
}

@media screen and (min-widht: 768px) {
    .cabecalho {
        justify-content: space-between;
        padding: 0 5rem;
    }
}

@media screen and (min-width: 0) {
    .logo {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .logo {
        display: block;
    }
}

@media screen and (min-width: 0) {
    .banner__titulo {
        font-size: 3rem;
    }
}

@media screen and (min-width: 768px) {
    .banner__titulo {
        font-size: 5.0625rem;
    }
}

@media screen and (min-width: 0) {
    .banner__imagem {
        height: calc(100vh - 51px);
    }
}

@media screen and (min-width: 768px) {
    .banner__imagem {
        height: calc(100vh - 72px);
    }
}

@media screen and (min-width: 0) {
    .sobre {
        padding: 2.5rem 1rem;
    }
}

@media screen and (min-width: 768px) {
    .sobre {
        padding: 2.5rem;
    }
}

@media screen and (min-width: 0px) {
    .sobre__titulo {
        font-size: 2rem;
    }
}

@media screen and (min-width: 768px) {
    .sobre__titulo {
        font-size: 3.1875rem;
    }
}

@media screen and (min-width: 0px) {
    .sobre__descricao {
        font-size: 1.3rem;
    }
}

@media screen and (min-width: 768px) {
    .sobre__descricao {
        font-size: 1.75rem;
    }
}

@media screen and (min-width: 0) {
    .receita {
        margin-right: 1rem;
        width: 100%;
    }
}

@media screen and (min-width: 768px) {
    .receita {
        margin-right: 2.5rem;
        width: calc(33% - 2.5rem)
    }
}

@media screen and (min-width: 992px) {
    .receita {
        margin-right: 5rem;
        width: calc(25% - 5rem);
    }
}

@media screen and (min-width: 0) {
    .receitas {
        padding: 5rem 0 0 1rem;
    }
}

@media screen and (min-width: 768px) {
    .receitas {
        padding: 5rem 0 0 2.5rem;
    }
}

@media screen and (min-width: 992px) {
    .receitas {
        padding: 5rem 0 0 5rem;
    }
}

@media screen and (min-width: 0) {
    .pessoas {
        flex-direction: column;
    }
}

@media screen and (min-width: 768px) {
    .pessoas {
        flex-direction: row;
    }
}

@media screen and (min-width: 0) {
    .pessoa {
        margin-bottom: 2rem;
    }
}

@media screen and (min-width: 768px) {
    .pessoa {
        margin-bottom: 0;
    }
}